:root {
  --font-style: Roboto;
  --font-color: #394867;
  --var-light: #ffffff;
}

html,
body {
  background: #394867 !important;
  height: 100%;
  margin: 0;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.login-wrap {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  width: 421px;
  height: 385px;
  background: #ffffff;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 100px 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

select {
  background: #ffffff;
  border: none !important;
  padding: 0 !important;
  font-size: 20px !important;
  font-weight: 400;
  line-height: 23px !important;
  font-family: var(--font-style) !important;
  color: var(--font-color);
}

.form-select option {
  padding: 10px;
}

select:focus-visible, select:focus {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

option[value=""][disabled] {
  display: none;
}

option {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  font-family: var(--font-style);
}

.google-method, .select-dropdown {
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.36);
  border-radius: 30px;
  width: 300px;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 16px;
}

.google-method img {
    width: 33px;
    height: 33px;
}

.method-text {
    color: var(--font-color);
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    font-family: var(--font-style);
    text-decoration: none;
    margin-left: 12px;
}

.header-container {
    background: white;
    display: flex;
    height: 100px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 20px 20px;
    padding: 0 16px;
    align-items: center;
    justify-content: space-between;
}

.noti-container {
    display: flex;
    align-items: center;
}

.noti-container span {
    font-size: 40px;
    padding: 0 16px;
}

.noti-container img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
}
